User-User Collaborative Filtering

In [19]:
# import libraries
import numpy as np
import pandas as pd
import os

In [16]:
# read data
rating = pd.read_csv('data/rating.csv')

In [17]:
# look data
print(rating.head())
print(rating.shape)

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40
(20000263, 4)

In [18]:
# process data
rating = rating.drop('timestamp', axis=1)

In [59]:
# get top k users with most number of rated movies
def get_top_users(df, k):
    top_k_users = df.groupby('userId').size().sort_values(ascending=False).head(k)
    return top_k_users

In [58]:
get_top_users(rating, 10)

userId
118205    9254
8405      7515
82418     5646
121535    5520
125794    5491
74142     5447
34576     5356
131904    5330
83090     5169
59477     4988
dtype: int64

In [64]:
# get top m movies with higher ratings
def get_top_movies(df, m=10, min_ratings=100):
    movie_stats = df.groupby('movieId').agg({'rating': ['mean', 'count']})
    movie_stats.columns = ['rating_mean', 'rating_count']
    popular_movies = movie_stats[movie_stats['rating_count'] >= min_ratings]
    top_movies = popular_movies.sort_values(by='rating_mean', ascending=False).head(m)
    return top_movies

         rating_mean  rating_count
movieId
318         4.446990         63366
858         4.364732         41355
50          4.334372         47006
527         4.310175         50054
1221        4.275641         27398
...              ...           ...
2920        4.117366          1048
2905        4.117039          1209
928         4.115972          4652
1939        4.114776          1834
608         4.112359         43272

[100 rows x 2 columns]